body {
    display: flex;
    justify-content: center;
    width: 100vw;
    background: #363d57;
}
.container  {
    width: 400px;
    background: white;
    border-radius: 10px;
}
.container h3 {
    text-align: center;
}
.rate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin: 10px;
    border-bottom: 1px dotted black;
}